<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    <title>
      {% block page_title %} pinsearch & Address Directory | Fast Postal Lookup
      {% endblock page_title %}
    </title>
    <meta
      name="description"
      content="Search and verify 6-digit Indian PIN codes instantly. Get accurate address information, including State, District, Region, and geographic coordinates directly from official datasets."
    />
    <meta
      name="keywords"
      content="pincode search, india postal directory, pin code lookup, find address by pincode, indian post office, postal code API"
    />
    <meta name="author" content="amitbhagat621@gmail.com" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://pinsearch.amit4218.fun/" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pinsearch.amit4218.fun/" />
    <meta
      property="og:title"
      content="India Pincode & Address Directory | Fast Postal Lookup"
    />
    <meta
      property="og:description"
      content="Search and verify 6-digit Indian PIN codes instantly. Get accurate address information, coordinates, and developer API access."
    />
    <meta
      property="og:image"
      content="https://pinsearch.amit4218.fun/static/og-image.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://pinsearch.amit4218.fun/" />
    <meta
      property="twitter:title"
      content="India Pincode & Address Directory"
    />
    <meta
      property="twitter:description"
      content="Instant 6-digit Indian PIN code lookup with geographic details and developer SDK access."
    />
    <meta
      property="twitter:image"
      content="https://pinsearch.amit4218.fun/static/og-image.png"
    />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "India Pincode & Address Directory",
        "description": "An instantaneous 6-digit lookup tool to find regional information, delivery status, and coordinates for Indian postal codes.",
        "url": "https://pinsearch.amit4218.fun.com/",
        "applicationCategory": "UtilityApplication",
        "operatingSystem": "All",
        "browserRequirements": "Requires JavaScript. Requires HTML5.",
        "creator": {
          "@type": "Person",
          "email": "mailto:amitbhagat621@gmail.com",
          "name": "Amit Bhagat"
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
      if (
        localStorage.getItem("theme") === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      // Configure Tailwind to support selector-based dark mode switching
      tailwind.config = {
        darkMode: "class",
      };
    </script>
  </head>
  <body
    class="bg-white dark:bg-slate-950 min-h-screen text-slate-900 dark:text-slate-100 font-sans flex flex-col justify-between antialiased overflow-x-hidden transition-colors duration-200"
  >
    <div>
      <!-- navbar/header -->
      {% include 'partials/header.html' %}

      <!-- dynamic main content -->
      {% block main_content %} {% endblock main_content %}
    </div>

    {% include 'partials/footer.html' %}

    <script src="/static/javaScripts/base_script.js"></script>
  </body>
</html>
